/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
body {
  background-color: lightblue;
}

/* Custom animations */
@keyframes customPulse {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.5);
  }
  66% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}

.animate-custom-pulse {
  animation: customPulse 0.4s ease-in-out 1;
}
