@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/wka5nhi.css");

/* Body defaults */
body {
  background-image: url('../images/DTU_Background_Pattern_Corporate_Red_RGB.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* custom classes for each Neo Sans style */
.neo-sans-regular {
  font-family: "neo-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.neo-sans-italic {
  font-family: "neo-sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.neo-sans-bold {
  font-family: "neo-sans", sans-serif;
  font-weight: 700;
  font-style: bold;
}

.neo-sans-bold-italic {
  font-family: "neo-sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

@keyframes customPulse {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.5);
  }
  66% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}

.animate-custom-pulse {
  animation: customPulse 0.4s ease-in-out 1;
}
